.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	box-shadow: 0 7px 20px 0px #00000040;
	background-color: #00000040;
	color: #dddddd;

	.nav-links-wrapper {
		height: 100%;
	}

	.nav-links-wrapper > .nav-label,
	.nav-search {
		display: inline-block;
		padding: 15px 30px;
		cursor: pointer;

		&:hover {
			background-color: #ffffff9f;
			color: #777777;
		}
	}

	.nav-search {
		height: 100%;
		width: 30px;
		text-align: center;
	}
}
