@import "default";

.articles,
.footer {
  .blog-title {
    color: $textColor;

    &:hover {
      color: $linkColor;
    }
  }

  .date {
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
  }
}
