$pageColor: #e7efc5;
$textColor: #413c58;
$backgroundColor: #fef7e3;
$linkColor: #76a79b;
$linkVisitColor: #5a5379;
$linkHoverColor: #a4c695;
$boldWght: 600;

@font-face {
  font-family: "Rubik";
  src: url("Rubik-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 3% 20%;
  background-color: $pageColor;
  font-family: "Rubik", sans-serif;
  font-size: medium;
  color: $textColor;
}

a {
  font-weight: $boldWght;

  &:link {
    color: $linkColor;
  }

  &:visited {
    color: $linkVisitColor;
  }

  &:hover {
    color: $linkHoverColor;
  }
}
