@import "default";

.header,
.reservation-form,
.footer {
  margin: 3% 20%;
}

.footer {
  background-color: $linkHoverColor;
  border: 2px solid $linkColor;
  border-radius: 10px;
  height: 250px;
  width: 400px;

  iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
  }

  .map-alt-mess {
    position: relative;
    text-align: center;
    margin: -32.5% 7%;
  }
}

input,
textarea,
select {
  resize: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  border: 2px solid $linkHoverColor;
  border-radius: 4px;
  background-color: $backgroundColor;
  color: $textColor;

  &:focus {
    border-color: $linkColor;
  }

  &:-webkit-autofill {
    -webkit-background-clip: text;
    box-shadow: inset 0 0 20px 20px $backgroundColor;
  }

  &[type="date"],
  &[type="time"] {
    width: 110px;
    height: 15px;
  }

  &[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0 0 0 20px;
    transform: translateY(2px);
    border-color: $linkHoverColor;
    cursor: pointer;

    &:hover {
      background-color: $linkHoverColor;
      border-color: $linkColor;
    }

    &:checked {
      background-color: $linkColor;
    }
  }

  &[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0 0 0 20px;
    transform: translateY(2px);
    border-color: $linkHoverColor;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      background-color: $linkHoverColor;
      border-color: $linkColor;
    }

    &:checked {
      background-color: $linkColor;
    }
  }

  textarea {
    padding: 10px;
  }
}

.option {
  cursor: pointer;
  font-size: 12px;
}

button[type="submit"] {
  padding: 5px;
  background-color: $backgroundColor;
  border: 3px solid $linkColor;
  border-radius: 6px;
  height: 35px;
  width: 100px;
  color: $textColor;
  font-weight: $boldWght;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: $linkHoverColor;
  }

  &:active {
    background-color: $linkColor;
  }
}
